This project attempts to give you the deal type based on the interior design, comfort, performance, value for money, exterior styling, reliablility, and min/max MPG's. An example use case would be when you are trying to decide on a car but don't want name and branding to interfere with which car is *actually* better in terms of the deal.

In [84]:
import pandas as pd
import numpy as np

In [144]:
df=pd.read_csv('cars_raw.csv')

In [145]:
df = df.sample(frac = 1)

In [146]:
df = df.reset_index()

In [147]:
del df["index"]

In [148]:
df = df.filter(['ComfortRating',	'InteriorDesignRating',	'PerformanceRating',	'ValueForMoneyRating',	'ExteriorStylingRating',	'ReliabilityRating', 'MinMPG', 'MaxMPG', 'DealType'])

In [149]:
df['DealType'] = df['DealType'].replace(['NaN'],'Bad')
df['DealType'] = df['DealType'].replace(['nan'],'Bad')

In [150]:
df

,ComfortRating,InteriorDesignRating,PerformanceRating,ValueForMoneyRating,ExteriorStylingRating,ReliabilityRating,MinMPG,MaxMPG,DealType
0,4.9,4.8,4.9,4.6,4.9,4.7,17,23,Good
1,4.6,4.4,4.6,4.0,4.2,4.4,124,116,Great
2,4.8,4.7,4.7,4.6,4.8,4.7,20,27,Good
3,4.8,4.9,4.8,4.6,4.7,4.8,24,31,Great
4,5.0,5.0,5.0,5.0,5.0,5.0,16,25,Fair
...,...,...,...,...,...,...,...,...,...
9374,4.8,4.7,4.9,4.6,4.9,4.8,18,27,Fair
9375,5.0,5.0,5.0,4.8,5.0,5.0,17,22,Good
9376,4.9,4.8,4.8,4.7,4.8,4.9,20,27,Good
9377,4.9,4.8,4.8,4.4,4.8,4.7,19,23,Good
9378,4.8,4.6,4.7,4.6,4.8,4.9,13,17,Good

In [151]:
X = [] 
y = []
for i in range(len(df)):  
    row = list(df.iloc[i]) 
    X.append(row[:-1]) 
    y.append(row[-1])

In [152]:
def split(l, pct):
    train = l[:int(len(l) * pct)]
    test = l[int(len(l) * pct):]
    return train, test

In [153]:
train_X, test_X = split(X, 0.75)
train_y, test_y = split(y, 0.75)

print("train x length: " + str(len(train_X)))
print("test x length: " + str(len(test_X)))
print("train y length: " + str(len(train_y)))
print("test y length: " + str(len(test_y)))

train x length: 7034
test x length: 2345
train y length: 7034
test y length: 2345

In [154]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier #popular
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.neighbors import KNeighborsClassifier #most popular
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC #popular
from sklearn.ensemble import RandomForestClassifier #quite popular

In [155]:
def get_score(model):
  model.fit(train_X, train_y)
  return model.score(test_X, test_y)

In [156]:
print("Adaboost: " + str(get_score(AdaBoostClassifier())))
print("DecisionTree: " + str(get_score(DecisionTreeClassifier())))
#print("GuassianProcess: " + str(get_score(GaussianProcessClassifier())))
print("K Neighbors: " + str(get_score(KNeighborsClassifier())))
print("MLPC: " + str(get_score(MLPClassifier())))
print("SVC: " + str(get_score(SVC())))
print("Random forest:" +str(get_score(RandomForestClassifier())))

Adaboost: 0.5889125799573561
DecisionTree: 0.5957356076759062
K Neighbors: 0.5569296375266525
MLPC: 0.5825159914712154
SVC: 0.5893390191897655
Random forest:0.5974413646055438

In [157]:
model = RandomForestClassifier()
model.fit(train_X, train_y)
values = [4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 17, 19]
model.predict([values])[0]

'Good'